
<footer class="footer pt-7 pb-6 bg-primary text-white">
    <hr size="10" width="100%" color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>CRUSTY</strong> is available on Github also.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/luglilab" aria-label="twitter social link" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.humanitas-research.org/researcher/dr-enrico-lugli/"
                            class="icon icon-xs icon-white" aria-label="facebook social link" data-toggle="tooltip"
                            data-placement="top" title="Visit our website">
                            <span class="fas fa-laptop"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/luglilab/Cytophenograph" aria-label="github social link" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Star us on Github">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">Links</h3>
                <ul class="links-vertical">
                    <li><a target="_blank" href="">Institute 1 </a></li>
                    <li><a target="_blank" href="">Institute 2 </a></li>
                    <li><a target="_blank" href="">Institute 3 </a>
                    </li>
                </ul>
            </div>
    <div class="col-6 col-md-2 mb-5 mb-lg-0">
        <h3 class="h5">Article</h3>
        <ul class="links-vertical">
            <li><a href="" target="_blank">Article 1</a></li>
            <li><a href="" target="_blank">Article 2</a></li>
            <li><a target="_blank" href="">Article 3</a>
            </li>
        </ul>
    </div>
</div>
            </div>
</footer>
